/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/******MAIN STYLES *******/   
   
html{
	font-size:16px;
}

body{
	border-top:#45ac9d 5px solid;
	margin:0;
	padding:0;
	font-family:Open Sans, sans-serif;
	color:gray;
	font-size:1em;
	width:100%;
	text-align:center;
}

a {
	font-family:Open Sans, sans-serif;
	font-size:.78em;
}
.wrapper{
	width:95%;
	margin:0 2%;
}


h1{
	font-family:"montserrat", sans-serif;
	font-weight:bold;
	font-size: 1.5em;
}

h2{
	font-size:1.2em;
}

h3{
	color:#45ac9d;
	font-size:1.1em;
}

p{
	line-height:1.2em;
}

.btn{
	background-color: #45ac9d;
	height:40px;
	font-family:"montserrat", sans-serif;
	font-size:1.25em;
	font-weight:bold;
	color:white;
}

.icon{
	padding:1% 0  3% 5%;
}



/**********HEADER *****************/


.logo h1{
	color:#45ac9d;
	font-size:2em;
	line-height:0;
	margin-top:20%;
}

.profile-pic-wrapper{
	padding:0;
	margin:0;
	width:50%;
	float:left;
}
.profile-pic{
	width:50%;
	display:block;
	margin:auto;
}

.short-bio{
	font-size:.75em;
	margin-right:5%;
	position:relative;
	width:50%;
	float:left;
}

/*******NAVIGATION **************/

nav{
	float:left;
	width:40%;
	padding-right:5%;
}
nav ul{
	margin:auto;
	padding:0;
}

nav ul li{
	text-transform:uppercase;
	list-style:none;
	padding:8% 0; 
	border:gray .5px solid;
	border-radius:75%;
	margin:10%;
	background-color:#eeeff1;
	display:flex;
	justify-content:center;
}

nav ul li a{
	text-decoration:none;
	color:gray;
	font-size:.65em;
}


/**********SIDEBAR*****************/
.sidebar-links{
	display:none;
}

.search{
	margin:5%;
}
.search-input{
	border:gray 1px solid;
	width:35%;
	font-style:italic;
	position:relative;
	height:100%;
}

.search-btn{
	background-color:#45ac9d;
	color:white;
	position:relative;
	height:100%;
	margin:0 5px 0 -5px;
}

.search-btn:hover {
	background-color:white;
	color:black;
}


/***********LANDING PAGE***********/

.home-img img{
	width:100%;
	margin-top:10%;
}

.home-content h1{
	padding:8% 2% 0 0;
}

.headline{
	text-align:center;
	line-height:1.4em;
	padding:0;
	margin:0;
	float:left;
	width:45%;
}

.intro {
	clear:both;
	padding-top:5%;
}

.icons{
	display:flex;
	justify-content:center;
}

.icon{
	padding-right:5%;
}

.blog-btn{
	width:100%;
	margin:5% 0;
}



/***********SINGLE POST PAGE*************/

/***MAIN CONTENT *****/

.date{
	text-align:left;
	margin:15% 0 0 7%;
	font-size:.75em;
	line-height:.2em;
	clear:both;
}

.single-post-img{
	width:100%;
	display:block;
}


.post-content{
	width: 100%;
	text-align:center;
}

.blog-info{
	font-size:.85em;
}

/**********COMMENTS ***********/

.comment-status{
	border-top:gray 1px solid;
	border-bottom:gray 1px solid;
	display:flex;
	justify-content:center;
}

.comment-status h3,h4{
	width:50%;
	font-size:1em;
	margin:5% 0; 
}

.comment-form{
	width:90%;
	margin:0 auto;
	clear:both;
	text-align:left;
}

.comment-form h5{
	margin-bottom:0;
}


.name-form, .email-form{
	float:left;
	width:45%;	
}

.name-form{
	margin-right:6%;
}

.email-input,.name-input{
	width:98%;
	margin:0;
	padding:0;
	height:30px;
	border:1px solid gray;
}

.your-comment{
	padding-top:3%;
	clear:both;
}

.comment-input{
	height:200px;
	width:96%;
	padding-top:5%;
	border:1px solid gray;
}

.submit-btn{
	font-size:.85em;
	padding:5px;
	width:55%;
	margin:5% 0;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /*********TABLETS ************************/
   
@media (min-width:600px) {

/******BASE STYLES ***********/

html{
	font-size:18px;
}	

h1{
	font-size:1.78em;
	line-height:2em;
}
	
h2{
	font-size:1.5em;
}
		
h3{
	font-size:.75em;
}
	
main{
	width:90%;
	margin:0 auto;
}
	
/********* HEADER ***********/

header{
	border-bottom:1px gray solid;
	display:block;
	height:100%;
	width:100%;
	position:relative;
}

.logo h1{
	line-height:0;
	margin-top:10%;
}

nav ul li a{
	font-size:1em;
}
/******SIDEBAR*********/

.img-intro{
	display:inline-block;
	width:50%;
	
}

.profile-pic-wrapper{
	width:75%;
	margin:5% 14.5%;
}

.short-bio{
	font-size:1em;
	text-align:center;
	width:75%;
	margin:0 14.5%;
}

.search{
	margin:5% 0 0 20%;
	height:40px;
}
.search-input{
	font-size:1em;
}

.search-btn{
	font-size:1em;
	width:50px;
}

/********MAIN CONTENT *********/


.date{
	font-size:1.5em;
	margin-left:0;
}


}


/*************DESKTOP STYLES ****************/

@media (min-width:840px){
	
	

/****************BASE STYLES ***************/

h2{
	text-align:left;
	font-size:1.4em;
}

h3{
	font-size:.78em;
}

h4{
	font-size:.72em;
}

/*******************HEADER*******************/

.logo{
	float:left;
	width:45%;
	text-align:left;
}

header{
	height:150px;
	width:100%;
}
	
nav{
	width:50%;
	margin:0;
	padding:0;
	display:block;
	float:right;
}

nav ul li{
	padding:8% 0; 
	border:none;
	margin:0 0 0 7%;
	background-color:white;
	display:inline-block;
}

nav ul li a{
	text-decoration:none;
	color:gray;
	font-size:.75em;
	
}

/***************SIDEBAR *************/

.profile-pic-wrapper{
	padding:0;
	margin:0;
	width:100%;
	float:none;
}
.profile-pic{
	width:65%;
	display:block;
	margin:auto;
}

.short-bio{
	font-size:.75em;
}

.img-intro{
	width:100%;
	border-bottom:1px gray solid;
	margin-left:-7%;
}

.sidebar{
	width:25%;
	float:right;
	height:100%;
	margin:2% 0 0 0%;
	padding-left:0;
}

aside ul{
	list-style:none;	
	text-align:left;
	padding:0;
	line-height:2em;
}

.sidebar-links{
	width:100%;
	display: block;
	margin-left:-15%;
}

.search-input{
	width:90%;
	margin-left:-20%;
}

.search-btn{
	width:25%;
}

.sidebar-links h3{
	text-align:left;
}

.sidebar-links a{
	text-decoration:none;
	color:gray;
}

.events figure{
	margin:0 20% 5% 0;
	width:100%;
}

.events img{
	margin:0 20% 0 0;
	width:100%;
}
	
/*******LANDING PAGE *********/
	
	
	.home-img{
		float:left;
		width:45%;
		margin:0;
		padding:0 5% 0 0;
}

	.home-content{
		width:50%;
		float:left;
	}
	
	.headline{
		text-align:left;
		width:100%;
	}
	
	.headline h1{
		line-height:1em;
	}
	
	.intro{
		clear:none;
	}
	
	.icons{
		display:flex;
		justify-content:flex-start;
	}
	
	.icon{
		padding:1%;
	}
	
	.blog-btn{
		width:55%;
		margin-top:5%;
		
	}

/*******SINGLE POST PAGE ************/
main{
	float:left;
	width:60%;
	border-right:1px gray solid;
	padding:0 9% 0 5%;
	margin-top:0;
}

.date{
	margin-top:10%;
}
.single-post-img{
	width:100%;
	margin:0 auto;
}

/*******COMMENT FORM ********/

.comment-status{
	margin-bottom:10%;
}

.no-comments h4{
	float:left;
	padding-right:45%;
}


.submit-btn{
	font-size:.85em;
	padding:5px;
	width:35%;
	margin:5% 0 10% 60%;
	
}

.comment-form{
	width:100%;
}

.blog-info{
	margin:10% 0;
}


}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
